@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.listContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
    padding-top: 30px;
  }
  .listContent > h1 {
    color: #31b1e7;
    font-family: 'Inter', sans-serif;
    height: 50px;
    border-bottom: solid 1.5px #31b1e7;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
 .listColums{
  display: flex;
  width: 100%;
  overflow: auto;
  flex-wrap: wrap;
  justify-content: space-around;
 
}
.listColums > ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
